[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-groq = "*"
llama-index-storage-docstore-redis = "*"
llama-index-storage-index-store-redis = "*"
llama-index-vector-stores-redis = "*"
ipykernel = "*"
widgetsnbextension = "*"
ipywidgets = "*"
pymupdf = "*"
scikit-learn = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11"